*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

/*HEADER*/
header{
    margin-bottom: -90px;
    font-size: 22px;
}

header h1#logo{
    background-image: url(../imgs/logo.png);
    width: 38px;
    height: 41px;
}

header h1 span{
    visibility: hidden;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-right: 60px;
    height: 52px;
    line-height: 52px;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
}

header nav ul li a img{
    width: 48px;
    height: 48px;
}

/*TOPO*/
section#topo {
    background:
    url(../imgs/cover-image.png) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 600px;
    margin-bottom: -100px;
}

section#topo .capa{
    margin: 0 auto;
    margin-top: 225px;
    text-align: center;
}

section#topo .capa h1{
    font-weight: 400;
    font-size: 48px;
}

section#topo .capa h2{
    font-weight: 400;
    font-size: 22px;
    opacity: 0.9;
    width: 700px;
    margin-top: 20px;
}

section#topo #capa-btn{
    background-color: #fd5c63;
    border-radius: 100px;
    border: 0;
    padding: 10px 60px;
    color: #fff;
    margin-top: 30px;
    font-size: 22px;
    opacity: 0.9;
}

/*APRESENTAÇÃO*/
section#apresentacao .galeria img{
    border: 5px solid #fff;
    height: 175px;
    width: 175px;
    margin-right: 10px;
    margin-left: 10px;
}

section#apresentacao{
    height: 525px;
    width: 100%;
    margin-bottom: -80px;
    background:
    linear-gradient(to bottom,
      rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%
    ),
    url(../imgs/10layers.png) 35% no-repeat;
}

/*INFO*/
section#info .container #infoApres{
    width: 55%;
    margin-right: 50px;
}

section#info .container #imgInfo{
    height: 260px;    
    width: 490px;
    background: 
        url(../imgs/video.png),
        linear-gradient(to top,
        rgba(255, 177, 180, 0.73), rgba(255, 75, 98, 0.73)),
        url(../imgs/mathhieu.png);
    background-position: center,right,center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    
}

section#info .container h2{
    font-size: 34px;
    font-weight: 400;
    color: #4c4c51;
}

section#info .container h3{
    font-size: 22px;
    font-weight: 400;
    color: #88939e;
}

/*DADOS*/
section#dados .container{
    font-family: 'Merriweather', serif;
    margin-top: 80px;
}

section#dados .container h1{
    text-align: center;
    color: #f94d59;
    font-size: 48px;
}

section#dados .container h2{
    font-size: 22px;
    color: #88939e;
    text-align: center;
}

/*DETALHES*/
section#detalhes {
    display: flex;
    margin-top: 100px;
    margin-bottom: 40px;
}
section#detalhes .imagemDetalhes img{
    height: 85%;
    width: 100%;
}

section#detalhes .imagemDetalhes h2{
    color: #fff;
    text-align:  left;    
    font-size: 22px;
    font-weight: 400;
    line-height: 850px;
    opacity: 0.9;
    width: 85%;
}

section#detalhes .infoDetalhes h2{
    font-size: 20px;
    color: #fb5c68;
}

section#detalhes .infoDetalhes p{
    font-weight: 400;
    color: #88939e;
    font-size: 20px;
}
section#detalhes .imagemDetalhes{
    display: flex;
    justify-content: center;
    height: 475px;
    background: url('../imgs/+.png') ,
                url(../imgs/smile.png);
    background-position:  bottom 40px right 20px, top;
    background-repeat:  no-repeat, no-repeat;
    background-color: #fd6e74;
    width: 50%;    
    margin-left: 30px;
    margin-right: 60px;
}

section#detalhes .detalhe{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

/*CIDADE*/

section#cidade{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
section#cidade #selCidade{
    text-align: center;
}

section#cidade #selCidade h2{
    color: #4c4c51;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
}

section#cidade #selCidade p{
    color: #88939e;
    font-weight: 400;
    width: 800px;
    font-size: 22px;
}

section#cidade select{
    display: block;
    width: 400px;
    border-radius: 100px 100px 0 0;
    font-weight: 400;
    font-size: 16px;
    color: #88939e;
    height: 40px;
    padding-left: 15px;
}

section#cidade #cidade-btn{
    display: block;
    width: 400px;
    background-color: #fd5c63;
    border-radius: 0 0 100px 100px;
    border: 0;
    padding: 10px 60px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.9;
}

section#cidade #selCidade #chooseCidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/*CONTATO*/
section#contato {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
}
section#contato .container #dataMoeda select{
    display: block;
    width: 300px;
    border: 2px solid #dbdbdb;
    border-radius: 2px;
    margin-bottom: 20px;
    color: #75808c;
    font-size: 16px;
    height: 40px;
    padding-left: 20px;
}

section#contato h2{
    color: #fb5c68;
    font-weight: 700;
    font-size: 20px;
}

section#contato p{
    font-weight: 400;
    line-height: 30px;
    color: #88939e;
}

/*FOOTER*/
section#footer{
    color: #88939e;
    justify-content: center;
    font-size: 22px;
}

section#footer span{
    margin-right: 20px;
}

section#footer .container{
    border-top: 1px solid #e8e8e8;
}

/*Media Queries*/
@media(max-width: 600px){
    header nav {
        display: none;
    }
    
    h1#logo{
        margin: 0 auto;
    }
    
    section#info #imgInfo{
        display: none;
    }
    
    section#info #infoApres{
        margin: 0 auto;
    }
    
    section#detalhes .imagemDetalhes{
        display: none;
    }
    
    section#contato #dataMoeda{
        display: none;
    }
    
    
    
    
    
}


